<%
  const successMessages = (typeof success !== 'undefined' && success) ? success : (res.locals.success || []);
  const errorMessages = (typeof error !== 'undefined' && error) ? error : (res.locals.error || []);
%>
<% if ((successMessages && successMessages.length) || (errorMessages && errorMessages.length)) { %>
  <div class="flash-stack">
    <% successMessages.forEach(msg => { %>
      <div class="flash success">
        <i class="bi bi-check-circle me-2"></i><%= msg %>
      </div>
    <% }) %>
    <% errorMessages.forEach(msg => { %>
      <div class="flash error">
        <i class="bi bi-exclamation-octagon me-2"></i><%= msg %>
      </div>
    <% }) %>
  </div>
<% } %>
